.square {
  background: #fff;
  border: 1px solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 28px;
  text-transform: capitalize;
  
}

.number {
  position: absolute;
  bottom: 4px; 
  left: 2px;
  font-size: .7em;
}

.div
{
    display : flex;
    position: relative;
}

.clue{
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.modal_container {
  position: fixed;
  z-index: 2;
  text-align: center;
  background-color: #f6daf7;
  background-color: #ffc7c7;
  width: 50%;
  height: fit-content;
  top: 20%;
  left: 50%;
  margin-left: -25%; /* Negative half of width. */
  border-radius: 5px;
}

.close_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
}

.set_margins {
  margin:30px;
}

.clue_header {
  cursor: pointer;
  background-color: rgb(211, 219, 221);
  padding: 15px;
  margin-bottom: 0px;
  /* Additional styles */
}

.closed_drop_down{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.open_drop_down{ 
  max-height: 700px;
  padding: 20px;
  background-color: rgb(228, 249, 255);
  border: 1px;
}

.choose_game{
  margin-bottom: 20px;
  text-align: center;
}

.choose_game button{
  height: 40px;
  width: 150px;
  font-family: system-ui;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  margin-left: 20px;
  background-color: #74757a;
}

.beginner {
  color: greenyellow;
}

.intermediate {
  color: yellow;
}

.expert {
  color: red;
}